.navbar {
  background-color:white;
  padding: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.nav-links .active {
  border-bottom: 2px solid white;
}

.content {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
}